@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-tip {
  display: none;
}

.leaflet-popup-content-wrapper {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  box-shadow: none;
  border-radius: 0.375rem;
  padding: 0px;
  overflow: hidden;
}

.leaflet-popup-content {
  margin: 0px;
  width: auto !important;
}

.leaflet-popup-close-button {
  display: none;
}

.swiper-pagination-bullet-active-main {
  background-color: white;
}

.swiper-pagination-bullet {
  transition-duration: 500ms !important;
}

.carousel-container .swiper-pagination-bullet {
  filter: opacity(0%);
}

.carousel-container:hover .swiper-pagination-bullet {
  filter: opacity(100%);
}

.carousel-container .carousel-nav {
  filter: opacity(0%);
}

.carousel-container:hover .carousel-nav {
  filter: opacity(100%);
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: all 500ms !important;
}